{% extends 'base.html.twig' %}

{% block title %}Вход{% endblock %}

{% block body %}

<div class="container">
    <form method="post" class="loginForm">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Вход</h1>
        {% for msg in app.session.flashbag.get('addError') %}
            <div style="color: cyan; font-size: 18px; text-align: center;">{{ msg }}</div>
        {% endfor %}
        <label for="inputUsername">Потребителско име: </label>
        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword">Парола: </label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-lg btn-primary loginBtn" type="submit">
            Вход
        </button>

        <a href="{{ path("register") }}" class="btn btn-lg btn-primary loginBtn" style="float: right">
            Регистрация
        </a>
    </form>
</div>
{% endblock %}
