body {
    font-family: Courier New;
    margin: 0px;
}
.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #000!important;
    background-color: #f1f1f1!important;
}
.w3-bar {
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
}
.w3-container:after, .w3-container:before, .w3-panel:after, .w3-panel:before, .w3-row:after, .w3-row:before, .w3-row-padding:after, .w3-row-padding:before, .w3-cell-row:before, .w3-cell-row:after, .w3-clear:after, .w3-clear:before, .w3-bar:before, .w3-bar:after {
    content: "";
    display: table;
    clear: both;
}
.w3-bar .w3-button {
    white-space: normal;
}
.w3-bar .w3-bar-item {
    padding: 13px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    text-decoration: none;
}
.w3-bar-item:hover {
    padding: 13px 16px;
}
.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.w3-button:hover {
    color: #000!important;
    background-color: #ccc!important;
}
.loginForm, .registerForm {
    width: 30%;
    margin: 0 auto;
}
.articleForm {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
}
form input {
     margin-bottom: 15px;
 }
.btn-lg {
    font-size: 18px!important;
}
.loginBtn {
    padding: 5px 0px !important;
    width: 45%;
}
.logged-user {
    float: right!important;
}
.w3-bar-item:last-child {
    float: right;
}
.clear {
    clear: both;
}
.text-area {
    height: 130px;
}
.articles {
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
    margin: 30px 0px;
}
.article-header, .article-body, .article-foot, .comments {
    margin: 5px 15px;
}
.article-foot {
    margin-top: 20px;
}
.addComment input[type = text] {
    width: 84%;
    display: inline;
    padding: 0px 10px;
}
.btn-comment, .likeComment {
    padding: 0px 18px !important;
}
.created-by, .likes {
    font-size: 14px;
}
.likes {
    margin-left: 30px;
}
.article-header a {
    text-decoration: none!important;
}
.article-header h3 a {
     color: #292b2c;
}
.article-header h3 а:hover {
    color: red!important;
}
.delete {
    color: red;
}
.paginator {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 70px;
    font-size: 28px;
}